body {
  background-color: black;
}

h1 {
  color: aliceblue;
  text-align: center;
}

.flextainer {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 200px 150px;
  grid-template-rows: 200px 150px 100px;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  border-top: 5px solid red;
  border-left: 5px solid blue;
}

box {
  padding: 10px;
  background-color: skyblue;
  border-radius: 15px;
  border: 3px solid green;
}
